<?xml version="1.0" encoding="utf-8"?>
<!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.catdog.myapplication" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapViewActivity"
            android:label="MapView" />

        <service android:name=".BeaconService"
            android:enabled="true"
            />

        <receiver android:name=".ClientReceiver" >
            <intent-filter>
                <action android:name="com.example.catdog.myapplication.LOCATE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ClientService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
